[Unit]
Description=Postgres notify exporter
After=network.target

[Service]
Type=simple
User=prometheus
WorkingDirectory=/opt/prometheus/exporters/pg_notify_exporter
ExecStart=PUMA_BIN -C config/puma.rb --dir /opt/prometheus/exporters/pg_notify_exporter
PIDFile=/opt/prometheus/exporters/pg_notify_exporter/var/puma.pid
TimeoutSec=15
Restart=always
WatchdogSec=30

[Install]
WantedBy=multi-user.target
