[Unit]
Description=Postgres notify exporter
After=network.target

[Service]
Type=simple
User=prometheus
WorkingDirectory=/opt/prometheus/exporters/pg_notify_exporter
ExecStart=/opt/prometheus/exporters/pg_notify_exporter/bin/pg_notify_exporter
TimeoutSec=15
Restart=always
WatchdogSec=30

[Install]
WantedBy=multi-user.target
